@model ISPlaning.Models.Goal
@{
    ViewBag.Title = "Детальніше про ціль";
}
<h2>Моя ціль</h2>
<div class="details">
    <p>@Model.Name</p>
    <p>@Model.Priority</p>
    <p>@Model.Reason</p>
    <p>@Model.Result</p>
    <p>@Model.Awards</p>
    <p>@Model.State</p>
</div>

