@model IEnumerable<ISPlaning.Models.Goal>
    <div>
        <a class="btn btn-light" asp-area="" asp-controller="Goal" asp-action="Add">Додати</a>
    </div>

    <br />
    <h2>Список цілей:</h2>

    <div class="container">
        <ol class="rounded">

            @foreach (Goal goal in Model)
            {
                <li>
                    <div>
                        <span>Назва: @goal.Name</span>,
                        <span>@goal.Priority (пріоритет)</span>
                        <span class="btns">
                            <a asp-controller="Goal" asp-action="Details" asp-route-id="@goal.Id">Детальніше</a>
                            <a asp-controller="Goal" asp-action="Change" asp-route-id="@goal.Id">Змінити</a>
                            <a asp-controller="Goal" asp-action="Delete" asp-route-id="@goal.Id">Видалити</a>
                        </span>
                    </div>
                </li>
            }
        </ol>

    </div>






